.idea/
venv/
__pycache__
data_scrappers/__pycache__
data_scrappers/config.py
sentiment_db.sqlite3
sentiment_db.sqlite3-journal
config.py
__pycache__/util.cpython-38.pyc
__pycache__/config.cpython-38.pyc
__pycache__/data_base.cpython-38.pyc